
.vs/UnityQuiz/v15/.suo
.vs/UnityQuiz/v15/.suo
.vs/UnityQuiz/DesignTimeBuild/.dtbcache
.vs/New Unity Project/v15/Server/sqlite3/storage.ide-wal
.vs/New Unity Project/v15/Server/sqlite3/storage.ide-shm
.vs/New Unity Project/v15/Server/sqlite3/storage.ide
.vs/New Unity Project/v15/Server/sqlite3/db.lock
.vs/New Unity Project/v15/.suo
.vs/New Unity Project/DesignTimeBuild/.dtbcache
.vs/UnityQuiz/v15/Server/sqlite3/db.lock
.vs/UnityQuiz/v15/Server/sqlite3/storage.ide
.vs/UnityQuiz/v15/Server/sqlite3/storage.ide-shm
.vs/UnityQuiz/v15/Server/sqlite3/storage.ide-wal

Library/ShaderCache
Library/PlayerDataCache
